<div class="container">
  <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center align-items-center">
      <div class="col-12 col-lg-auto  me-lg-middle">
        <input
          type="text"
          [(ngModel)]="filterText"
          id="filterText"
          class="form-control"
          placeholder="Search Employee..."
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <app-department></app-department>
    </div>
    <div class="col-9">
      <div class="content row">
        <div
          *ngFor="let employee of employees | filterPipeEmployee: filterText"
          class="card mx-auto mt-3 bg-light rounded-2 shadow overflow-hidden"
          style="width: 14rem"
        >
          <div
            class="card-header card-img d-flex justify-content-end align-items-center cursor-pointer mt-2 bg-light"
          >
            <h5><span class="badge bg-primary text-dark findex">{{ employee.firstName }} {{ employee.lastName }}</span></h5>
          </div>
          <div
            class="card-img d-flex justify-content-center align-items-center cursor-pointer mt-2"
          >
            <img
              class="card-img-top"
              width="auto"
              height="150px"
            />
          </div>
      
          <div class="card-body">
            <h5 class="card-title">{{ employee.id }}</h5>
            <h6>{{ employee.departmentId }}</h6>
            <h6>{{ employee.email }}</h6>
            <h6>{{ employee.salary | currency: "₺"}}</h6>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>


